# 1

In [12]:
from datetime import date

def calculate_age(date_of_birth):
    today = date.today()
    birth_date = date.fromisoformat(date_of_birth)
    age = today.year - birth_date.year - ((today.month, today.day) < (birth_date.month, birth_date.day))
    return age

calculate_age("1990-10-01")

32

# 2

In [1]:
def WriteCentered(text):
    length = len(text)
    if length > 80:
        print("Text is too long to center!")
    else:
        spaces = 40 - length//2
        print(" " * spaces + text)
        
WriteCentered("Hello, world!")

                                  Hello, world!

# 3

In [2]:
def MarkdownFormat(text):
    formatted_text = f"**_*{text}_***"
    print(formatted_text)
    
MarkdownFormat("This text should be bold and italic!")

**_*This text should be bold and italic!_***

# 4

In [18]:
def check_multiples():
    num1 = int(input("Enter the first number: "))
    num2 = int(input("Enter the second number: "))
    if num1 % num2 == 0:
        print(f"{num1} is a multiple of {num2}")
    elif num2 % num1 == 0:
        print(f"{num2} is a multiple of {num1}")
    else:
        print("Neither number is a multiple of the other")

check_multiples()

Enter the first number:  4
Enter the second number:  12

12 is a multiple of 4

# 5

In [ ]:
def calculate_average_temperature(temperatures):
    total = sum(temperatures)
    average = total / len(temperatures)
    return average

calculate_average_temperature([21.5, 22.1, 23.2, 22.5, 21.7, 21.9, 23.8, 24.2, 25.3, 24.5, 23.9, 22.8, 22.1, 21.9, 22.3, 23.7, 25.1, 26.2, 25.9, 24.6, 23.7, 23.1, 22.8, 21.9])

23.362499999999997

# 6

In [3]:
def ConvertSpacing(text):
    new_text = " ".join(text)
    return new_text

ConvertSpacing("Hello, world!")

'H e l l o ,   w o r l d !'

# 7

In [4]:
def calculateMaxMin(array):
    max_value = max(array)
    min_value = min(array)
    return max_value, min_value

calculateMaxMin([5, 10, -3, 20, 8, 2])

(20, -3)

# 8

In [23]:
def calculate_circle_properties(radius):
    area = 3.1416 * radius ** 2
    perimeter = 2 * 3.1416 * radius
    return area, perimeter

calculate_circle_properties(5)

(78.53999999999999, 31.416)

# 9

In [5]:
def Login(username, password, num_attempts):
    if username == "user1" and password == "asdasd":
        return True
    else:
        num_attempts += 1
        return False, num_attempts

attempts = 0
while True:
    username = input("Username: ")
    password = input("Password: ")
    result = Login(username, password, attempts)
    if result == True:
        print("Login successful!")
        break
    else:
        attempts = result[1]
        print(f"Login failed. Number of attempts: {attempts}")

Username:  aa
Password:  bb

Login failed. Number of attempts: 1

Username:  user1
Password:  asdasd

Login successful!

# 10

In [6]:
def fact(num):
    factorial = 1    
    if num < 0:    
        print(" Factorial does not exist for negative numbers")    
    elif num == 0:    
        print("The factorial of 0 is 1")    
    else:    
        for i in range(1,num + 1):    
            factorial = factorial*i 
    return factorial

fact(5)

120

# 11

In [24]:
def calculate_seconds(hours, minutes, seconds):
    total_seconds = hours * 3600 + minutes * 60 + seconds
    return total_seconds

calculate_seconds(2,30,45)

9045

In [27]:
def calculate_time(seconds):
    hours = seconds // 3600
    minutes = (seconds % 3600) // 60
    seconds = (seconds % 3600) % 60
    return hours, minutes, seconds

calculate_time(9045)

(2, 30, 45)

# 12

In [28]:
def reverse_tuple(t):
    reversed_tuple = tuple(reversed(t))
    return reversed_tuple

reverse_tuple((1,2,3,4,5))

(5, 4, 3, 2, 1)

# 13

In [7]:
from functools import reduce
import math

def geometric_mean(numbers):
    product = reduce(lambda x, y: x * y, numbers)
    return math.pow(product, 1/len(numbers))

geometric_mean([1, 2, 3, 4, 5])

2.605171084697352